@page "/data"
@inject Names nameLists
@inject IService service

<PageTitle>Data</PageTitle>

<div class="container">
    <NavBar></NavBar>
    <div class="row">
        <div class="col-md-3">
            <h1>Data</h1>
            <p>Hello @(nameLists.Name)</p>
        </div>
        <div class="col-md-3">
            <h5>Singleton Data Lists</h5>
            <ol>
                @foreach (string company in nameLists.Companies)
                {
                    <li>@company</li>
                }
            </ol>
        </div>
    </div>
    <div class="row">
        <h2>Temperature</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Yesterday</th>
                    <th scope="col">Today</th>
                    <th scope="col">Tomorrow</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@(service.FetchTemperature(DateTime.Now.AddDays(-1)))</td>
                    <td>@(service.FetchTemperature(DateTime.Now))</td>
                    <td>@(service.FetchTemperature(DateTime.Now.AddDays(1)))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@code {

}
